.app.dark {
  --bg-color: #3a3a3c;
  --inverted-bg-color: #c5c5c3;

  --primary-color: #d7d5d5;
  --secondary-color: #ffffff;

  --inveted-primary-color: #021348;
  --inveted-secondary-color: #022b85;
}
