.app_dark_theme {
    --bg-color: #3a3a3c;
    --inverted-bg-color: #f5f5f2;
    --primary-color: #049604;
    --secondary-color: #04ff04;
    --inverted-primary-color: #0452ff;
    --inverted-secondary-color: #0232c2;

    // skeleton
    --skeleton-color: #1515ad;
    --skeleton-shadow: #2b2be8;

    // code
    --code-bg: #1212a1;

    // card
    --card-bg: #0d0d6b;

    // listbox
    --listbox-bg: #0d0d6b;
}
