.app_green_theme {
    --bg-color: #f4fbf6;
    --inverted-bg-color: #047a23;
    --primary-color: #1c5403;
    --secondary-color: #0471ff;
    --inverted-primary-color: #24359e;
    --inverted-secondary-color: #7c3705;
}
