.app.light {
    --bg-color: #d1d1d4;
    --inverted-bg-color: #2e2e2b;
    --primary-color: #021348;
    --secondary-color: #022b85;
    --inverted-primary-color: #d7d5d5;
    --inverted-secondary-color: #fff;
}
